<div
    class="w-full shadow-md shadow-black bg-gray-300 h-fit py-5 flex justify-center items-center flex-col gap-2.5 group max-sm:rounded">
    <div class="footer-grid">
        <div id="first">
            <a href="https://www.instagram.com/maturaball_htl_leonding/">Instagram</a>
        </div>
        <div id="second">
            <a href="https://www.htl-leonding.at/">Website</a>
        </div>
        <div id="third">
            <a href="#notYet!">Impressum</a>
        </div>
        <div id="fourth">
            <a href="#notYet!">Datenschutz</a>
        </div>
    </div>
</div>