<div
    class="w-full shadow-md shadow-black bg-gray-300 h-fit py-5 flex justify-center items-center flex-col gap-2.5 group max-sm:rounded">
    <div class="footer-grid px-4">
        <div class="flex justify-center items-center" id="first">
            <a class="text-center" href="https://www.instagram.com/maturaball_htl_leonding/">Instagram</a>
        </div>
        <div class="flex justify-center items-center" id="second">
            <a class="text-center" href="https://www.htl-leonding.at/">Website</a>
        </div>
        <div class="flex justify-center items-center" id="third">
            <a class="text-center" href="#notYet!">Impressum</a>
        </div>
        <div class="flex justify-center items-center" id="fourth">
            <a class="text-center" href="#notYet!">Datenschutz</a>
        </div>
    </div>
</div>