<div
  class="p-5bg-gray-200 bg-gray-200 h-full w-full rounded-2xl border-2 border-gray-500 text-gray-900 flex flex-col justify-between items-center">

  <h2 class="p-6 text-3xl font-bold">Buy Ticket</h2>

  <div class="flex justify-end items-start absolute top-0 right-0 p-6">
    @for (step of [1, 2, 3, 4, 5]; track step) {
    <button (click)="setStep(step)" [class]="{
        'bg-violet-500': currentStep === step,
        'bg-violet-300': currentStep !== step
      }" class="text-white rounded-full mr-1 w-10 h-10 flex items-center justify-center">
      {{ step }}
    </button>
    }
  </div>

  <div
    class="p-6 flex flex-col gap-5
  [&_p]:text-gray-700 
    [&_div]:p-1 [&_div]:full-width 
    [&_input]:w-full [&_input]:p-3 [&_input]:rounded-md [&_input]:placeholder-violet-600 [&_input]:bg-violet-100 [&_input]:border [&_input]:border-violet-300">

    <div class="info-grid">
      @switch (currentStep) {
      @case (1) {
      <div id="name">
        <p>Vorname*</p>
        <input [(ngModel)]="formData.vorname" placeholder="Max" />
      </div>
      <div id="last-name">
        <p>Nachname*</p>
        <input [(ngModel)]="formData.nachname" placeholder="Mustermann" />
      </div>
      <div id="mail">
        <p>Email-Addresse*</p>
        <input [(ngModel)]="formData.email" placeholder="max.m@gmail.com" />
      </div>
      <div id="phone">
        <p>Telefonnummer*</p>
        <input [(ngModel)]="formData.telefonnummer" placeholder="+43 999999999" />
      </div>
      <div id="street">
        <p>Straße*</p>
        <input [(ngModel)]="formData.strasse" placeholder="Limesstraße" />
      </div>
      <div id="s-number">
        <p>Hausnummer*</p>
        <input [(ngModel)]="formData.nummer" placeholder="12-14a" />
      </div>
      <div id="city">
        <p>Stadt*</p>
        <input [(ngModel)]="formData.stadt" placeholder="Linz" />
      </div>
      <div id="zip">
        <p>PLZ*</p>
        <input [(ngModel)]="formData.plz" placeholder="4050" />
      </div>
      <div id="student">
        <p>Schüler</p>
        <input
          class="flex justify-center items-center w-5 h-5 text-blue-600 rounded border-gray-300 focus:ring-blue-500"
          [(ngModel)]="isSchueler" type="checkbox" />
      </div>
      <div id="group">
        <p>Klasse</p>
        <input [disabled]="!isSchueler()" [(ngModel)]="formData.klasse" placeholder="4AHIF"
          class=" disabled:bg-gray-300 transition-all duration-300 ease-in-out" />
      </div>
      }

      @case (2) {
      <div>
        <p>Test seite 2</p>
        <input placeholder="Test" />
      </div>
      <img src="zuckerberg.webp" alt="ticket" />
      }

      @case (3) {
      <div>
        <p>Test seite 3</p>
        <input placeholder="Test" />
      </div>
      <div>
        <p>Test seite 3</p>
        <input placeholder="Test" />
      </div>
      <div>
        <p>Test seite 3</p>
        <input placeholder="Test" />
      </div>
      }

      @case (4) {
      <div>
        <p>Test seite 4</p>
        <input placeholder="Test" />
      </div>
      <div>
        <p>Test seite 4</p>
        <input placeholder="Test" />
      </div>
      <div>
        <p>Test seite 4</p>
        <input placeholder="Test" />
      </div>
      }

      @case (5) {
      <form (ngSubmit)="generateQRCode()">
        <label for="testdata">Testdata:</label>
        <input type="text" id="testdata" [(ngModel)]="qrCodeResponse.identifier" name="testdata" required>
        <button type="submit">Generate Test QR Code</button>
      </form>
      <div>
        @if (qrCodeData) {
        <qrcode [qrdata]="qrCodeData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        }
      </div>
      }
      }

    </div>
    <div class="flex justify-evenly items-start bottom-0 left-0 right-0 p-6">
      <button (click)="continue()"
        class="bg-violet-600 text-white p-2 rounded-md hover:scale-105 duration-300 transition-all hover:shadow-md">Continue</button>
      <button (click)="previous()"
        class="bg-violet-600 text-white p-2 rounded-md hover:scale-105 transition-all duration-300 hover:shadow-md">Go
        Back</button>
    </div>
  </div>
</div>