<div class="w-full shadow-xl shadow-black bg-gray-200 h-fit py-5 flex justify-center items-center flex-col gap-2.5 group">
  <div id="header" class="flex flex-col">
    <h1 class="text-black font-semibold text-3xl">
      Eventablauf
    </h1>
    <span class="w-3/4 group-hover:w-full h-0.5 bg-violet-600 transition-all duration-300 rounded"></span>
  </div>

  @for (routine of routines; track $index){
    <div class="routine w-full p-2.5 flex text-xl justify-center items-center flex-col">
      <p class="text-{{color}}-600">{{routine.time.getHours().toString().padStart(2,'0')}}:{{routine.time.getMinutes().toString().padStart(2,'0')}}</p>
      <p>{{routine.name}}</p>
    </div>
  }
</div>

